
  <section id="faqs_page">
    <div class="unit-accordion">
        
        <ul>
          {% for block in section.blocks %}
            <li>
                <input type="checkbox" checked>
                <i class="arrow"></i>
                <h2><i class="fas fa-code"></i>{{ block.settings.question_faqs | split: '|' | first }}</h2>
                <p>
                  {{ block.settings.answer_faqs | split: '|' | first }}
                </p>
            </li>
          {% endfor %}
        </ul>
    </div>

    <!--
    <div class="panel-group">
      {% for block in section.blocks %}
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a class="{% unless forloop.first %}collapsed{% endunless %}" data-toggle="collapse" href="#faqs-{{block.id}}" >
  
              <span data-title="{{section.settings.icon_faqs | split: '|' | first }}" data-show="{{ section.settings.icon_show | split: '|' | first }}" data-hide="{{ section.settings.icon_hide | split: '|' | first }}">
                {{ block.settings.question_faqs | split: '|' | first }}
              </span>

            </a>
          </h4>    
        </div>
        <div id="faqs-{{block.id}}" class="panel-collapse collapse{% if forloop.first %} show{% endif %}">
          <div class="panel-body">
            <div data-title="{{section.settings.icon_answer | split: '|' | first }}">
              <div class="rte">
                {{ block.settings.answer_faqs | split: '|' | first }}
              </div>
            </div>
          
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    -->
  </section>


<style>

.unit-accordion {
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    max-width: 99%;
    padding: 10px 20px 20px;
    border-radius: 5px;
}

.unit-accordion h2 {
    font-size: 18px;
    line-height: 34px;
    font-weight: 500;
    letter-spacing: 1px;
    display: block;
    margin: 0;
    cursor: pointer;
    color: #6c6c6a;
}

.unit-accordion p {
    color: rgba(48, 69, 92, 0.8);
    font-size: 15px;
    line-height: 26px;
    letter-spacing: 1px;
    position: relative;
    overflow: hidden;
    max-height: 800px;
    opacity: 1;
    transform: translate(0, 0);
    margin-top: 14px;
    z-index: 2;
}

.unit-accordion ul {
    list-style: none;
    perspective: 900;
    padding: 0 20px 10px;
    margin: 0;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2),
        0 2px 2px 0 rgba(255, 255, 255, 0.19);
}

.unit-accordion ul li {
    position: relative;
    padding: 0;
    margin: 0;
    padding-bottom: 4px;
    padding-top: 18px;
    border-top: 1px dotted #dce7eb;
}

.unit-accordion ul li:nth-child(1) {
    border: none;
}

.unit-accordion ul li:nth-of-type(1) {
    animation-delay: 0.5s;
}

.unit-accordion ul li:nth-of-type(2) {
    animation-delay: 0.75s;
}

.unit-accordion ul li:nth-of-type(3) {
    animation-delay: 1.0s;
}

.unit-accordion ul li:last-of-type {
    padding-bottom: 0;
}

.unit-accordion ul li .arrow {
    position: absolute;
    transform: translate(-6px, 0);
    margin-top: 16px;
    right: 0;
}

.unit-accordion ul li .fas {
    color: #f6483b;
    font-size: 15px;
    margin-right: 10px;
}

.unit-accordion ul li .arrow:before,
.unit-accordion ul li .arrow:after {
    content: "";
    position: absolute;
    background-color: #f6483b;
    width: 3px;
    height: 9px;
}

.unit-accordion ul li .arrow:before {
    transform: translate(-2px, 0) rotate(45deg);
}

.unit-accordion ul li .arrow:after {
    transform: translate(2px, 0) rotate(-45deg);
}

.unit-accordion ul li input[type=checkbox] {
    position: absolute;
    cursor: pointer;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
}

.unit-accordion ul li input[type=checkbox]:checked~p {
    margin-top: 0;
    max-height: 0;
    opacity: 0;
    transform: translate(0, 50%);
}

.unit-accordion ul li input[type=checkbox]:checked~.arrow:before {
    transform: translate(2px, 0) rotate(45deg);
}

.unit-accordion ul li input[type=checkbox]:checked~.arrow:after {
    transform: translate(-2px, 0) rotate(-45deg);
}

.unit-accordion .transition,
p,
ul li .arrow:before,
ul li .arrow:after {
    transition: all 0.25s ease-in-out;
}

.unit-accordion .flipIn,
h1,
ul li {
    animation: flipdown 0.5s ease both;
}

.unit-accordion .no-select,
h2 {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    user-select: none;
}

  .faqs-page .panel-title {
    font-size: {{ section.settings.font_size_qs }}px;
  }
  
  .faqs-page .panel-title > a {
    color: {{ section.settings.color_question }};
    background-color: {{ section.settings.bg_question }};
  }
  
  .faqs-page .panel-title > a span:before {
    content: attr(data-title) "";
    background-color: {{ section.settings.bg_icon_qs }};
    color: {{ section.settings.color_icon_qs }};
  }  
  
  .faqs-page .panel-title > a:not(.collapsed) {
    background-color: {{ section.settings.bg_question_acitve }};
    color: {{ section.settings.color_question_acitve }};
  }
  
  .faqs-page .panel-group .panel-body {
    font-size: {{ section.settings.font_size_answer }}px;
    color: {{ section.settings.color_question_answer }};
  }
  
  .faqs-page .panel-group .panel-body > div:before {
    content: attr(data-title) "";
    background-color: {{ section.settings.bg_icon_answer }};
    color: {{ section.settings.color_icon_answer }};
    border-color: {{ section.settings.color_icon_answer }};
  }
  
  .faqs-page .des_faqs a,
  .faqs-page.panel-group .panel-body a {
    color: {{ section.settings.color_question_link }};
  }
</style>


{% schema %}
  {
    "name": "FAQ",
    "settings": [
 

 

      {
        "type": "header",
        "content": "Question"
      },
      {
       "type" : "text",
       "id" : "icon_faqs",
       "label" : "Icon Faqs",
       "default" : "Q"
      },
      {
       "type" : "color",
       "id" : "bg_icon_qs",
       "label" : "Background Icon",
       "default" : "#000"
      },
      {
       "type" : "color",
       "id" : "color_icon_qs",
       "label" : "Icon Color",
       "default" : "#fff"
      },
      {
       "type" : "color",
       "id" : "bg_question",
       "label" : "Background Question",
       "default" : "#f5f5f5"
      },
      {
       "type" : "color",
       "id" : "color_question",
       "label" : "Color Question",
       "default" : "#000"
      },
    {
       "type" : "text",
       "id" : "font_size_qs",
       "label" : "Font size Question",
       "default" : "13"
      },
      {
       "type" : "color",
       "id" : "bg_question_acitve",
       "label" : "Background Icons Question Active",
       "default" : "#FF8B21"
      },
      {
       "type" : "color",
       "id" : "color_question_acitve",
       "label" : "Color Question Active",
       "default" : "#fff"
      },

      {
        "type": "header",
        "content": "Answer"
      },
      {
       "type" : "text",
       "id" : "icon_answer",
       "label" : "Icon Answer",
       "default" : "A"
      },
      {
       "type" : "color",
       "id" : "bg_icon_answer",
       "label" : "Background Icon Answer",
       "default" : "#fff"
      },
      {
       "type" : "color",
       "id" : "color_icon_answer",
       "label" : "Icon Color",
       "default" : "#FF8B21"
      },      
      {
       "type" : "color",
       "id" : "color_question_answer",
       "label" : "Color Answer",
       "default" : "#000"
      },
    {
       "type" : "text",
       "id" : "font_size_answer",
       "label" : "Font size Answer",
       "default" : "12"
      },
      {
       "type" : "color",
       "id" : "color_question_link",
       "label" : "Color Link",
       "default" : "#FF8B21"
      },
      {
        "type": "header",
        "content": "Show / Hide"
      },
      {
       "type" : "text",
       "id" : "icon_show",
       "label" : "Icon Show",
       "default" : "Show"
      },
      {
       "type" : "text",
       "id" : "icon_hide",
       "label" : "Icon Hide",
       "default" : "Hide"
      }
  ],
    "blocks": [
      {
        "type" : "text",
    "name" : "GYIK elem",
        "settings":[
          {
            "type" : "textarea",
            "id" : "question_faqs",
            "label" : "Kérdés"
          },
          {
            "type" : "textarea",
            "id" : "answer_faqs",
            "label" : "Válasz"
          }
        ]
      }
    ]
  }
{% endschema %}