{{ 'component-talent.css' | asset_url | stylesheet_tag }}
{% for singlePage in pages %}
    {%- if singlePage.metafields.global.instructorpic != blank and singlePage.metafields.global.instructorpic.type == "file_reference"-%}
        <div class="profile-card">
        <img src="{{ singlePage.metafields.global.instructorpic | img_url: '500x500' }}" alt="image1" class="profile-icon" />
        <div class="profile-name">{{ singlePage.title | escape }}</div>
        <div class="profile-position">{{ singlePage.metafields.global.instructortitle }}</div>
        <a href="{{ singlePage.url }}" class="button">Bemutatkozás</a>

     
        {% endif %}
</div>
        {% endfor %}

