{{ 'component-talent.css' | asset_url | stylesheet_tag }}
<section id="instructor-list">
    <div class="profile-container">
    {% for singlePage in pages %}
        {%- if singlePage.metafields.global.instructorID != blank  -%}
            <div class="profile-card {{ singlePage.metafields.global.instructorID }}">
                {%- if singlePage.metafields.global.instructorpic != blank and singlePage.metafields.global.instructorpic.type == "file_reference" -%}
                    <img src="{{ singlePage.metafields.global.instructorpic | img_url: '500x500' }}" alt="{{ singlePage.title | escape }}" class="profile-icon" />
                {% endif %}
                <div class="profile-name">{{ singlePage.title | escape }}</div>
                <div class="profile-position">{{ singlePage.metafields.global.instructortitle }}</div>
                <a href="{{ singlePage.url }}" class="button">Bemutatkozás</a>
            </div>
        {% endif %}
    {% endfor %}
    </div>
</section>